@charset "UTF-8";.input_1,body {
  font-family: "Microsoft YaHei",Tahoma,Arial,sans-serif
}

* {
  margin: 0;
  padding: 0
}

body {
  color: #333;
  font-size: 14px;
  background: #f7f7f7;
  overflow-x: hidden
}

li,ul {
  list-style: none
}

img {
  border: 0
}

a:link,a:visited {
  color: #333;
  text-decoration: none
}

a:active,a:hover {
  color: #01c8a9;
  text-decoration: none
}

a {
  blr: expression(this.onFocus=this.blur());
  outline: 0
}

a:focus {
  -moz-outline-style: none
}

table,td {
  border-collapse: collapse
}

.clc3,.ctyq,.e778,.irq1,.jsyo,.krig,.l5du,.mhnx,.mqzk,.odbj,.oggd,.orangepik,.pjha,.qvqe,.siblina,.wt2b,.wynx,.wz6u,.xsuf,.zufz {
  display: none!important
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  font-size: 0;
  line-height: 0
}

.clearfix {
  display: block
}

.apple,.censitive,.dqiz,.fdci,.fg5y,.fpwa,.h3n0,.kg8t,.ovels,.oysc,.pkyu,.rfwb,.rish,.ro4u,.taob,.tj6i,.vjgj,.z6lk,.z823,.zerx0s {
  display: none!important
}

.mar5 {
  margin: 5px
}

.mar10 {
  margin: 10px
}

.mar20 {
  margin: 20px
}

.mar_t_10 {
  margin-top: 10px
}

.mar_t_20 {
  margin-top: 20px
}

.mar_t_80 {
  margin-top: 80px
}

.mar_r_10 {
  margin-right: 10px
}

.mar_l_10 {
  margin-left: 10px
}

.mar_b_10 {
  margin-bottom: 10px
}

.mar_b_010 {
  margin-bottom: -10px!important
}

.mar_l_30 {
  margin-left: 30px
}

.mar_r_30 {
  margin-right: 30px
}

.pad10 {
  padding: 10px
}

.pad20 {
  padding: 20px
}

.pad5_r {
  padding-right: 5px
}

.pad15_r {
  padding-right: 15px
}

.pad30_r {
  padding-right: 30px
}

.pad50_l {
  padding-left: 50px
}

.andonior,.coch,.exdx,.newfish,.oasa,.sensientes,.tdbv,.w0qc,.yc2s,.zsgi {
  padding-left: 50px;
  display: none!important
}

.font_1 {
  font-size: 14px
}

.font_2 {
  font-size: 24px
}

.font_3 {
  font-size: 18px
}

.height30 {
  line-height: 30px
}

.height40 {
  line-height: 40px
}

.height50 {
  line-height: 50px
}

.color_0 {
  color: #fff!important
}

.color_1 {
  color: #bbb!important
}

.color_2 {
  color: #888!important
}

.color_3 {
  color: #d75452!important
}

.color_4 {
  color: #468cc8!important
}

.color_5 {
  color: #60b761!important
}

.color_6 {
  color: #004a83!important
}

.button,.button span,.button:active {
  color: #fff
}

.floatL {
  float: left
}

.floatR,.ribbon {
  float: right
}

.text-center {
  text-align: center
}

.text-right {
  text-align: right
}

#nav-shadow,.button,.tdcenter {
  text-align: center
}

.input_1 {
  background: #fff;
  height: 28px;
  line-height: 28px;
  border: 1px solid #888;
  width: 130px;
  padding: 0 5px;
  font-size: 14px
}

.underline {
  text-decoration: underline;
  margin: 0 5px
}

.button {
  margin: 0 10px -8px;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #9c9c9c;
  border: 1px solid rgba(0,0,0,.3)
}

.button,.button span {
  -moz-border-radius: .2em;
  border-radius: .2em
}

.button span {
  border-top: 1px solid #fff;
  border-top: 1px solid rgba(255,255,255,.5);
  display: block;
  padding: .3em 1.5em;
  -moz-background-size: 3px 3px;
  -webkit-background-size: 3px 3px;
  background-size: 3px 3px
}

.aro1,.beljime,.c0z7,.clerk,.desired,.dizx,.ear0,.epmes,.fdxc,.fistfinll,.ftel,.gtmv,.hwvl,.pjjl,.publish,.rrfw,.sbab,.vgap,.wtbn,.xkru {
  display: none!important
}

.button:hover {
  box-shadow: 0 0 .1em rgba(0,0,0,.4);
  -moz-box-shadow: 0 0 .1em rgba(0,0,0,.4);
  -webkit-box-shadow: 0 0 .1em rgba(0,0,0,.4);
  color: #fff
}

.button-blue {
  background: #468cc8
}

.button-blue:hover {
  background: #3577af
}

.button-blue:active {
  background: #316fa3
}

.button-Lblue {
  background: #60c0dc
}

.button-Lblue:hover {
  background: #41b4d5
}

.button-Lblue:active {
  background: #389bb8
}

.button-white {
  background: #fff
}

.button-white span,.button-white:hover {
  background: #ebebeb
}

.button-white span {
  color: #999!important
}

.button-white:active {
  background: #cbcbcb
}

a.button-white {
  cursor: default
}

.button-green {
  background: #60b761
}

.button-green:hover {
  background: #4ba34c
}

.button-green:active {
  background: #428739
}

.button-red {
  background: #d75452
}

.button-red:hover {
  background: #d03433
}

.button-red:active {
  background: #b42d2c
}

.button-orange {
  background: #efad57
}

.button-orange:hover {
  background: #eb9b37
}

.button-orange:active {
  background: #cb862f
}

.T-title {
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px dotted #888;
  margin-top: 20px;
  position: relative
}

.position {
  background: url(../images/icon_position.png) 10px center no-repeat #f1f1f1
}

.line {
  height: 1px;
  background: #888;
  margin: 10px 0
}

.bordertop1 {
  border-top: 1px dotted #ddd
}

.floatR_btn {
  position: absolute;
  bottom: 10px;
  right: 0
}

.ccbq,.cqgb,.gnom,.hbfi,.ifwc,.qf3u,.qntg,.thirdwmg,.toekcs,.wyjz {
  bottom: 10px;
  right: 0;
  display: none!important
}

.ribbon,.ribbon span {
  display: inline-block
}

.ribbon {
  margin-top: 20px
}

.ribbon:after,.ribbon:before {
  margin-top: .5em;
  content: "";
  float: left;
  border: 1.5em solid #f8f8f8
}

.ribbon:after {
  border-right-color: transparent
}

.ribbon:before {
  border-left-color: transparent
}

.ribbon a:link,.ribbon a:visited {
  color: #000;
  text-decoration: none;
  float: left;
  height: 3.5em;
  overflow: hidden
}

.ribbon span {
  background: #f8f8f8;
  line-height: 3em;
  padding: 0 1em;
  margin-top: .5em;
  position: relative;
  -webkit-transition: background-color .2s,margin-top .2s;
  -moz-transition: background-color .2s,margin-top .2s;
  -ms-transition: background-color .2s,margin-top .2s;
  -o-transition: background-color .2s,margin-top .2s;
  transition: background-color .2s,margin-top .2s
}

.ribbon span:after,.ribbon span:before {
  content: "";
  position: absolute;
  top: 3em;
  border-bottom: .5em solid #fff
}

.ribbon a:hover span {
  background: #b745c8;
  margin-top: 0;
  color: #fff
}

.ribbon a.lczy:hover span {
  background: #62ca9f
}

.ribbon a.jchj:hover span {
  background: #4ca8fd
}

.ribbon a.sjgg:hover span {
  background: #456ac8
}

.ribbon a.cjwt:hover span {
  background: #fe9381
}

.ribbon a.czsc:hover span {
  background: #f2be56
}

.agcig,.ajndg,.bbdlh,.ejd4y,.formation,.hpts,.ifar,.l7cn,.nb9t,.ninisa,.pcsqd,.rkajd,.sql7,.srnkf,.thcen,.txmxe,.vfen,.zhyif,.zwjb {
  display: none!important
}

.ribbon span:before {
  left: 0;
  border-right: .5em solid #9B8651
}

.ribbon span:after {
  right: 0;
  border-left: .5em solid #9B8651
}

.jfdo,.juliy,.l5vk,.plfz,.storys,.u4lp,.u95o,.uigi,.uyvk,.w7uk {
  display: none!important;
  background: #4ca8fd
}

#nav-shadow {
  min-height: 65px;
  margin-top: 20px
}

#nav-shadow li {
  width: 33%;
  height: 35px;
  position: relative;
  float: left
}

#nav-shadow a,#nav-shadow a:hover,#nav-shadow a:visited {
  width: 100%;
  height: 35px;
  padding-top: 30px;
  overflow: hidden;
  display: block;
  position: relative;
  z-index: 2;
  text-align: center;
  color: #333;
  text-decoration: none
}

#nav-shadow li.button-color-1 a {
  background: url(../images/link_fav.png) center top no-repeat
}

#nav-shadow li.button-color-1 a:hover {
  color: #eb5649;
  font-size: 1.3em
}

#nav-shadow li.button-color-2 a {
  background: url(../images/link_desktop.png) center top no-repeat
}

#nav-shadow li.button-color-2 a:hover {
  color: #62ca9f;
  font-size: 1.3em
}

#nav-shadow li.button-color-3 a {
  background: url(../images/link_home.png) center top no-repeat
}

#nav-shadow li.button-color-3 a:hover {
  color: #4ca8fd;
  font-size: 1.3em
}

#nav-shadow li img.shadow {
  margin-top: -37px;
  z-index: 1
}

.ahc7,.d16l,.e7t6,.kmpk,.lq4k,.monky,.ns4a,.rfjh,.wwcz,.xiji {
  display: none!important
}

a.help {
  background: url(../images/help_link.png) left top no-repeat;
  width: 85px;
  height: 39px;
  float: right;
  text-indent: -9999px;
  margin-top: -10px
}

a.help:hover {
  background: url(../images/help_hover.png) left top no-repeat
}

.help_banner {
  background: url(../images/help_banner.jpg) left top no-repeat;
  width: 270px;
  height: 207px;
  font-size: 48px;
  padding-left: 330px;
  line-height: 207px;
  color: #475766
}

.help_img_xl img {
  border-radius: 5px;
  margin: 10px auto;
  padding: 10px 0;
  -webkit-box-shadow: 3px 3px 6px 0 #666;
  -moz-box-shadow: 3px 3px 6px 0 #666;
  box-shadow: 3px 3px 6px 0 #666
}

.help_box p {
  padding-top: 15px;
  line-height: 25px;
  text-indent: 2em
}

.czxd_footer,.czxd_header p {
  line-height: 27px;
  color: #fff
}

.help_box p i {
  font-size: 16px;
  border-bottom: double
}

.tdleft {
  text-align: left
}

.tdright {
  text-align: right
}

.czxd {
  width: 897px;
  margin: 0 auto
}

.czxd_header {
  background: url(../images/czxd-pic/czxd_head.png) left top no-repeat #4fb87d;
  padding: 380px 20px 20px
}

.czxd_header p {
  text-indent: 2em;
  font-size: 15px;
  letter-spacing: .5px
}

.czxd_footer {
  padding: 25px 0;
  background: #4fb87d;
  font-size: 14px;
  text-align: center
}

.mbbox,.mbbox li {
  line-height: 53px;
  height: 53px
}

.mbbox {
  background: #f9f9f9
}

.mbbox li {
  width: 299px;
  float: left;
  display: block;
  text-align: center;
  cursor: pointer;
  margin-right: 0;
  color: #000;
  font-size: 16px;
  background: url(../images/czxd-pic/lc_li_bg.png)
}

.mbbox .hover {
  height: 53px;
  color: #fff;
  border-right: 0;
  font-size: 20px;
  background: url(../images/czxd-pic/lc_li_focus_bg.png)
}

.conbox {
  clear: both;
  width: 897px
}

.lc_arrow {
  background: #f7f8f7;
  border-bottom: 5px solid #4fb87d
}

.lc_cont {
  background: #f0f2f1
}

.lc_cont_r_bg {
  background: url(../images/czxd-pic/lc_cont_r_bg.png) left top repeat-y
}

.lc_cont_l_bg {
  background: url(../images/czxd-pic/lc_cont_l_bg.png) left top repeat-y
}

.lc_title {
  font-size: 26px;
  font-weight: 700;
  color: #0e7139
}

.lc_cont_title_1 {
  background: url(../images/czxd-pic/lc_cont_title_1.png) left top no-repeat;
  height: 95px;
  padding: 28px 0 0 160px
}

.lc_cont_title_2,.lc_cont_title_4,.lc_cont_title_6,.lc_cont_title_8 {
  height: 97px;
  padding: 62px 163px 0 0;
  text-align: right
}

.lc_cont_title_2 {
  background: url(../images/czxd-pic/lc_cont_title_2.png) left top no-repeat
}

.lc_cont_title_4 {
  background: url(../images/czxd-pic/lc_cont_title_4.png) left top no-repeat
}

.lc_cont_title_6 {
  background: url(../images/czxd-pic/lc_cont_title_6.png) left top no-repeat
}

.lc_cont_title_8 {
  background: url(../images/czxd-pic/lc_cont_title_8.png) left top no-repeat
}

.lc_cont_title_10,.lc_cont_title_12,.lc_cont_title_14 {
  height: 97px;
  padding: 62px 163px 0 0;
  text-align: righ
}

.lc_cont_title_10 {
  background: url(../images/czxd-pic/lc_cont_title_10.png) left top no-repeat
}

.lc_cont_title_12 {
  background: url(../images/czxd-pic/lc_cont_title_12.png) left top no-repeat
}

.lc_cont_title_14 {
  background: url(../images/czxd-pic/lc_cont_title_14.png) left top no-repeat
}

.lc_cont_title_11,.lc_cont_title_13,.lc_cont_title_15,.lc_cont_title_3,.lc_cont_title_5,.lc_cont_title_7,.lc_cont_title_9 {
  height: 97px;
  padding: 62px 0 0 160px
}

.lc_cont_title_3 {
  background: url(../images/czxd-pic/lc_cont_title_3.png) left top no-repeat
}

.lc_cont_title_5 {
  background: url(../images/czxd-pic/lc_cont_title_5.png) left top no-repeat
}

.lc_cont_title_7 {
  background: url(../images/czxd-pic/lc_cont_title_7.png) left top no-repeat
}

.lc_cont_title_9 {
  background: url(../images/czxd-pic/lc_cont_title_9.png) left top no-repeat
}

.lc_cont_title_11 {
  background: url(../images/czxd-pic/lc_cont_title_11.png) left top no-repeat
}

.lc_cont_title_13 {
  background: url(../images/czxd-pic/lc_cont_title_13.png) left top no-repeat
}

.lc_cont_title_15 {
  background: url(../images/czxd-pic/lc_cont_title_15.png) left top no-repeat
}

.lc_cont table {
  margin: 0 80px;
  width: 737px
}

.lc_cont table td img {
  border: 10px solid #4fb87d;
  border-radius: 5px
}

.lc_cont table td .jt_txt {
  font-size: 16px;
  background: #b4e1c8;
  line-height: 40px;
  padding: 0 10px
}

.ts_txt {
  background: #fff;
  border: 3px dashed #4fb87d;
  border-radius: 5px;
  padding: 20px;
  position: relative;
  line-height: 25px
}

.gx_titlei,.ts_title {
  background: #e3383f;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  padding: 5px 10px
}

.ts_title {
  position: absolute;
  left: 20px;
  top: -15px
}

