<!DOCTYPE html>
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html translate="no">

<head>
<meta charset="utf-8" />
<title>{% trans "New Organization" %}</title>
<link href="../static/style/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<script src="../static/javascript/jquery-1.12.4.min.js"></script>
<script src="../static/javascript/information/jquery-migrate-1.4.1.min.js"></script>
<!--[if lt IE 9]><script src="../static/javascript/information/h5fix.min.js"></script><![endif]-->
<link rel="stylesheet" href="../static/style/information/font-icons/font-icons.min.css" />
<link rel="stylesheet" href="../static/style/information/bootstrap/bootstrap.min.css" />
<link rel="stylesheet" href="../static/javascript/layer/default/layer.css">
<link rel="stylesheet" href="../static/style/information/select2.css" />
<link rel="stylesheet" href="../static/style/information/grey.css" />
<link rel="stylesheet" href="../static/style/information/zTreeStyle.css" />
<link rel="stylesheet" href="../static/style/information/ui.jqgrid.css" />
<link rel="stylesheet" href="../static/style/information/AdminLTE.min.css" />
<link rel="stylesheet" href="../static/style/information/jeesite.css" />
<script>
function checkOrganization(){
    var organization = $("#organization").val();
    $.ajax({
        type:'POST',
        url:'../checkorganization/',
        dataType:'json',
        async : false,
        data:{"organization":organization},
        success:function(data){
            var result = data.result;
            if (result == "exist"){
                var message = data.msg;
                layer.tips(message,'#organization',{tips:[1,'#ff6969']});
            }
            return false;
        }
    })
}
</script>
</head>
<body class="hold-transition ">
  <input id="selectUrl" style="display:none;" />
  <div class="wrapper">
   <div class="main-content">
    <div class="box box-main">
     <div class="box-header with-border">
      <div class="box-title">
       <i class="fa fa-fw icon-grid"></i> {% trans "New Organization" %}
      </div>
      <div class="box-tools pull-right">
       <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      </div>
     </div>
     <form id="inputForm" action="" method="post" class="form-horizontal">
      <input type="hidden" id="op" name="op" value="add" />
      <input type="hidden" id="userType" name="userType" value="employee" />
      <input type="hidden" id="userCode" name="userCode" value="" />
      <div class="box-body">
       <div class="row">
        <div class="col-xs-6">
         <div class="form-group">
          <label class="control-label col-sm-4" title=""> <span class="required ">*</span> {% trans "Organization" %}:<i class="fa icon-question hide"></i></label>
          <div class="col-sm-8">
            <input id="organization" type="text" name="organization" class="form-control required " maxlength="100" onBlur="checkOrganization()" autocomplete="off" />
          </div>
         </div>
        </div>
        </div>
       <div class="row">
         <div class="col-xs-12">
          <div class="form-group">
           <label class="control-label col-sm-2" title=""> <span class="required hide">*</span> {% trans "Comments" %}:<i class="fa icon-question hide"></i></label>
           <div class="col-sm-10">
            <textarea id="remarks" name="remarks" rows="4" maxlength="500" class="form-control"></textarea>
          </div>
          </div>
         </div>
        </div>
       </div>
      <div class="box-footer">
       <div class="row">
        <div class="col-sm-offset-2 col-sm-10">
         <button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> {% trans "Save" %}</button>&nbsp;
         <button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="javascript:history.back(-1);"><i class="fa fa-reply-all"></i> {% trans "Back" %}</button>
        </div>
       </div>
      </div>
     </form>
    </div>
   </div>
  </div>
<a id="scroll-up" href="#" class="btn btn-sm"><i class="fa fa-angle-double-up"></i></a>
<script src="../static/javascript/bootstrap.min.js"></script>
<script src="../static/javascript/information/layer.js"></script>
<script src="../static/javascript/information/select2.js"></script>
<script src="../static/javascript/information/jquery.ztree.all-3.5.js"></script>
<script src="../static/javascript/information/jquery.jqGrid.js"></script>
<script src="../static/javascript/information/jquery.jqGrid.extend.js"></script>
<script src="../static/javascript/information/jquery.validate.js"></script>
<script src="../static/javascript/information/messages_zh_CN.js"></script>
<script src="../static/javascript/information/jquery.validate.extend.js"></script>
<script src="../static/javascript/information/jeesite.js"></script>
{% if language == 'en' %}
<script src="../static/javascript/information/jeesite_en.js"></script>
<script src="../static/javascript/information/en.js"></script>
{% else %}
<script src="../static/javascript/information/zh_CN.js"></script>
<script src="../static/javascript/information/jeesite_zh_CN.js"></script>
{% endif %}
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		layer.load(1);
		var organization = $('#organization').val();
		var remarks = $('#remarks').val();
		$.ajax({
            type:'POST',
            url:'../createorganization/',
            dataType:'json',
            data:{"organization":organization,"remarks":remarks},
            success:function(data){
                layer.closeAll('loading');
                var result = data['result'];
                if (result == 'success'){
                    layer.msg('{% trans "Create successfully" %}!', {icon: 6});
                }else{
                    var message = data['msg'];
                    layer.msg(message, {icon: 5});
                }
            }
		})
    }
});
</script>
</body>
</html>