<!DOCTYPE html>
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html translate="no">
<head>
<meta charset="utf-8" />
<title>{% trans "Role Management" %}</title>
<link href="../static/style/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<script src="../static/javascript/jquery-1.12.4.min.js"></script>
<script src="../static/javascript/information/jquery-migrate-1.4.1.min.js"></script>
<!--[if lt IE 9]><script src="../static/javascript/information/h5fix.min.js"></script><![endif]-->
<link rel="stylesheet" href="../static/style/information/font-icons/font-icons.min.css" />
<link rel="stylesheet" href="../static/style/information/bootstrap/bootstrap.min.css" />
<link rel="stylesheet" href="../static/style/information/select2.css" />
<link rel="stylesheet" href="../static/style/information/grey.css" />
<link rel="stylesheet" href="../static/style/information/zTreeStyle.css" />
<link rel="stylesheet" href="../static/style/information/ui.jqgrid.css" />
<link rel="stylesheet" href="../static/style/information/AdminLTE.min.css" />
<link rel="stylesheet" href="../static/style/information/jeesite.css" />
<script>
  $(document).ready(function(){
     var roleCode = "{{ roleCode }}";
     var roleName = "{{ roleName }}";
     var sort = "{{ sort }}";
     var userType = "{{ userType }}";
     var isSys = "{{ isSys }}";
     var roleType = "{{ roleType }}";
     var remarks = "{{ remarks }}";
     $("#roleCode").val(roleCode);
     $("#roleName").val(roleName);
     $("#sort").val(sort);
     $("#userType").val(userType);
     if (isSys == "1"){
       $("#isSys1").attr("checked","checked");
     }else{
       $("#isSys2").attr("checked","checked");
     }
     $("#roleType").val(roleType);
     $("#remarks").val(remarks);
 })
</script>
</head>
<body class="hold-transition ">
  <div class="wrapper">
   <div class="main-content">
    <div class="box box-main">
     <div class="box-header with-border">
      <div class="box-title">
       <i class="fa icon-people"></i> {% trans "Edit Role" %}
      </div>
      <div class="box-tools pull-right">
       <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      </div>
     </div>
     <form id="inputForm" action="" method="post" class="form-horizontal">
      <div class="box-body">
       <div class="form-unit">
        {% trans "Basic Information" %}
       </div>
       <div class="row">
        <div class="col-xs-6">
         <div class="form-group">
          <label class="control-label col-sm-4" title=""> <span class="required ">*</span> {% trans "Role Code" %}:<i class="fa icon-question hide"></i></label>
          <div class="col-sm-8">
            <input id="roleCode" type="text" name="roleCode" value="" readonly="readonly" class="form-control required " autocomplete="off" />
          </div>
         </div>
        </div>
        <div class="col-xs-6">
         <div class="form-group">
          <label class="control-label col-sm-4" title=""> <span class="required ">*</span> {% trans "Role Name" %}:<i class="fa icon-question hide"></i></label>
          <div class="col-sm-8">
            <input id="roleName" type="text" name="roleName" value="" class="form-control required " autocomplete="off" />
          </div>
         </div>
        </div>
       </div>
       <div class="row">
        <div class="col-xs-6">
         <div class="form-group">
          <label class="control-label col-sm-4" title=""> <span class="required ">*</span> {% trans "Sort" %}:<i class="fa icon-question hide"></i></label>
          <div class="col-sm-8">
           <input type="text" id="sort" name="sort" value="" class="form-control required" autocomplete="off" />
          </div>
         </div>
        </div>
        <div class="col-xs-6">
         <div class="form-group">
          <label class="control-label col-sm-4" title=""> <span class="required hide">*</span> {% trans "User Type" %}:<i class="fa icon-question hide"></i></label>
          <div class="col-sm-8">
           <select id="userType" name="userType" class="form-control ">
            <option value="">&nbsp;</option>
            <option value="employee">{% trans "Employee" %}</option>
            <option value="member">{% trans "Member" %}</option>
            <option value="btype">{% trans "Btype" %}</option>
            <option value="person">{% trans "Person" %}</option>
            <option value="expert">{% trans "Expert" %}</option>
           </select>
          </div>
         </div>
        </div>
       </div>
       <div class="row">
        <div class="col-xs-6">
         <div class="form-group">
          <label class="control-label col-sm-4" title=""> <span class="required">*</span> {% trans "System User" %}:<i class="fa icon-question hide"></i></label>
          <div class="col-sm-8">
           <span id="isSys" name="isSys" class="icheck">
             <label><input type="radio" id="isSys1" name="isSys" value="1" class="form-control required "> {% trans "Yes" %}</label>
             <label><input type="radio" id="isSys2" name="isSys" value="0" class="form-control required "> {% trans "No" %}</label>
           </span>
          </div>
         </div>
        </div>
        <div class="col-xs-6">
         <div class="form-group">
          <label class="control-label col-sm-4" title=""> <span class="required hide">*</span> {% trans "Role Type" %}:<i class="fa icon-question hide"></i></label>
          <div class="col-sm-8">
           <select id="roleType" name="roleType" class="form-control ">
            <option value="">&nbsp;</option>
            <option value="1">{% trans "Manager" %}</option>
            <option value="2">{% trans "Middle-level" %}</option>
            <option value="3">{% trans "Basic-level" %}</option>
            <option value="4">{% trans "Others" %}</option>
           </select>
          </div>
         </div>
        </div>
       </div>
       <div class="row">
        <div class="col-xs-12">
         <div class="form-group">
          <label class="control-label col-sm-2" title=""> <span class="required hide">*</span> {% trans "Remarks" %}:<i class="fa icon-question hide"></i></label>
          <div class="col-sm-10">
            <textarea id="remarks" name="remarks" rows="4" value="" maxlength="500" class="form-control"></textarea>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="box-footer">
       <div class="row">
         <div class="col-sm-offset-2 col-sm-10">
          <button type="button" class="btn btn-sm btn-primary" id="btnSubmit" onclick="saveEdit()"><i class="fa fa-check"></i> {% trans "Save" %}</button>&nbsp;
          <button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="javascript:history.back(-1);"><i class="fa fa-reply-all"></i> {% trans "Back" %}</button>
         </div>
        </div>
       </div>
     </form>
    </div>
   </div>
  </div>
<a id="scroll-up" href="#" class="btn btn-sm"><i class="fa fa-angle-double-up"></i></a>
<script src="../static/javascript/bootstrap.min.js"></script>
<script src="../static/javascript/layer/layer.js"></script>
<script src="../static/javascript/information/select2.js"></script>
<script src="../static/javascript/information/jquery.ztree.all-3.5.js"></script>
<script src="../static/javascript/information/jquery.jqGrid.js"></script>
<script src="../static/javascript/information/jquery.jqGrid.extend.js"></script>
<script src="../static/javascript/information/jquery.validate.js"></script>
<script src="../static/javascript/information/messages_zh_CN.js"></script>
<script src="../static/javascript/information/jquery.validate.extend.js"></script>
<script src="../static/javascript/information/jeesite.js"></script>
{% if language == 'en' %}
<script src="../static/javascript/information/jeesite_en.js"></script>
<script src="../static/javascript/information/en.js"></script>
{% else %}
<script src="../static/javascript/information/zh_CN.js"></script>
<script src="../static/javascript/information/jeesite_zh_CN.js"></script>
{% endif %}
<script>
function saveEdit(){
  layer.load(1);
  var roleCode = $('#roleCode').val();
  var roleName = $('#roleName').val();
  var sort = $('#sort').val();
  var userType = $('#userType').val();
  var isSys = $("input[name='isSys']:checked").val();
  var roleType = $('#roleType').val();
  var remarks = $('#remarks').val();
  $.ajax({
    type:'POST',
    url:'../updaterole/',
    dataType:'json',
    data:{"roleCode":roleCode,"roleName":roleName,"sort":sort,"userType":userType,"isSys":isSys,"roleType":roleType,"remarks":remarks},
    success:function(data){
    layer.closeAll('loading');
    js.showMessage(data.message);
    }
  })
}
</script>
</body>
</html>